*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}
body{
    background-color: #ffffff5b;
    margin-top: 60px;
    font-family: soleil, 'Lucida Sans', 'Lucida Sans Regular';
}

.file-menue {
    color: wheat;
    font-size: large;
    display: flex; /* 使用 flex 布局 */
    gap: 10%;
    align-items: center;
    width: 100%; /* 宽度设置为100% */
    position: fixed; /* 固定在顶部 */
    top: 0; /* 置顶 */
    left: 0; /* 置左 */
    background-color: #001331d3; /* 背景颜色，根据需要调整 */
    border: none;
    z-index: 500; /* 确保 header 在最上层 */
}
.left-section {
    display: flex;
    align-items:end; /* 垂直居中对齐 */
    margin: 5px 10px 5px 10px;
    border: none;
}
.logo-pic {
    /* 根据需要调整图片大小 */
    height: 40px;
    width: auto;
}
.gradient-text {
    font-size: 25px; /* 设置字体大小 */
    font-style: italic;
    font-weight: bold;
    background: -webkit-linear-gradient(left, rgb(228, 27, 27), rgb(34, 136, 143)); /* 创建从左到右的红到蓝的渐变 */
    -webkit-background-clip: text; /* 应用背景到文字 */
    color: transparent; /* 设置文字颜色为透明 */
    background-clip: text; /* 标准语法 */
    padding-right: 3px;
}

.file-input-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: #001331d3;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
}

.file-input-label:hover {
    background-color: #3a3131;
}

.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 8px;
}
.contourplot {
    width:50%;
    height:800px;

}

.projection-panel {
    display: block;
    width:50%;

}

.main-panel, .projection-panel {
    position: relative;
    justify-content: center;
}

.yscale-btn:hover,.projection-panel button:hover {
    background-color: #ebe9e9;
}
.yscale-btn, .projection-panel button{
    position: absolute;
    width: 80px;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #756d6d;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    color: rgb(27, 24, 18);
    z-index: 200;
}
.yscale-btn {
    top: 20px;
    left: 20px;
}
.delay-xscale-btn {
    bottom: 310px;
    left: 40px;
}
.save-curve-btn {
    top: 60px;
    right: 100px;
}
.clear-plots-btn{
    top: 60px;
    right: 10px;
}
.save-curve-delay-btn {
    bottom: 310px;
    right: 100px;
}
.clear-plots-delay-btn{
    bottom: 310px;
    right: 10px;
}
.copy-wavelength-data {
    top: 300px;
    right: 10px;
}
.copy-delay-data {
    bottom: 50px;
    right: 10px;
}
@media screen and (max-width: 650px) {
    .remind-note {
        display: none;
    }
    .main-panel{
        flex-direction: column;
    }
    .contourplot {
        width:100%;
        height:600px;
    
    }
    
    .projection-panel {
        display: block;
        width:100%;
    
    }
}
