*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #dfdfe65b;
    margin-top: 50px;
    font-family: soleil, 'Lucida Sans', 'Lucida Sans Regular';
}
.product-title{
    display: flex; /* 启用 flex 布局 */
    align-items: center;
    justify-content: space-between; /* 水平居中 */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.title-name{

    font-size: 50px;
    font-weight: normal;
    color: rgb(2, 51, 63);
    padding-left: 10px;
    background: -webkit-linear-gradient(left, rgb(228, 27, 27), rgb(34, 136, 143)); /* 创建从左到右的红到蓝的渐变 */
    -webkit-background-clip: text; /* 应用背景到文字 */
    background-clip: text; /* 标准语法 */
    color: transparent; /* 设置文字颜色为透明 */
}
.subtitle-name{
    font-size: 20px;
    font-weight: bold;
    color: rgb(31, 128, 167);
    padding-right: 20px;
    padding-left: 30px;
}
.Product-area {
    position: relative;
    width: 100%;
    max-width: 1200px;
    background-image: linear-gradient(to left top, #001331 0%, #082446 10%, #6c91a4 30%, #c0e8e1 50%, #77e8f1 70%,  rgb(5, 145, 170) 100%);

    /*background-image: linear-gradient(90deg,rgba(0,37,74,1) 0%,rgba(1,161,211,1) 100%);*/
    display: flex; /* 启用 flex 布局 */
    flex-direction: column;
    height: 100%; /* 如果需要，设置一个高度 */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.specs-sheet{
    
    font-size: 25px;
    color: antiquewhite;
    margin-left: 15px;
}
.specs-sheet ul li{
    margin-top: 30px; /* 顶部边距 */
    gap: 30px;
    margin-left: 30px;
  }
.product-pic{
    position: relative;
    width: 100%;
    align-self: center; /* 将图片在其容器中水平居中 */
    max-width: 900px;
    margin-bottom: 50px ;
    margin-top: -100px;
}
.tab-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #08244613;
    border-radius: 20px;
}

.tab-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
    position: relative;
}
.tab-box, .tab-btn {
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}
.tab-box, .tab-btn.active {
    color: #7360ff;
}
.content-box{
    padding: 20px;
}
.content-box .content{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform:translateX(0px);opacity: 1;}
}

.content-box .content.active{
    display: block;
}
.content-box .content h1{
    margin-bottom:10px;
}

.line{
    position:absolute;
    top: 72px;
    left: 20px;
    width: 90px;
    height: 5px;
    background-color: #7360ff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}