*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    font-family: soleil, 'Lucida Sans', 'Lucida Sans Regular';
}
.product-title{
    display: flex; /* 启用 flex 布局 */
    align-items: center;
    justify-content: space-between; /* 水平居中 */
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:white;

}
.title-name{

    font-size: 50px;
    font-weight: normal;
    color: rgb(2, 51, 63);
    padding-left: 10px;
    background: -webkit-linear-gradient(left, rgb(228, 27, 27), rgb(34, 136, 143)); /* 创建从左到右的红到蓝的渐变 */
    -webkit-background-clip: text; /* 应用背景到文字 */
    background-clip: text; /* 标准语法 */
    color: transparent; /* 设置文字颜色为透明 */
}
.subtitle-name{
    font-size: 20px;
    font-weight: bold;
    color: rgb(31, 128, 167);
    padding-left: 20px
}
.Product-area {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background-image: linear-gradient(to left top, #001331 0%, #082446 10%, #6c91a4 30%, #c0e8e1 50%, #77e8f1 70%,  rgb(5, 145, 170) 100%);

    /*background-image: linear-gradient(90deg,rgba(0,37,74,1) 0%,rgba(1,161,211,1) 100%);*/
    display: flex; /* 启用 flex 布局 */
    flex-direction: column;
    height: 100%; /* 如果需要，设置一个高度 */
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 20px;
}

.specs-sheet{
    
    font-size: 25px;
    color: antiquewhite;
    margin-left: 15px;
}
.specs-sheet p {
    margin-top: 20px; /* 顶部边距 */
  }
.product-pic{
    position: relative;
    top: -40px;
    width: 100%;
    align-self: center; /* 将图片在其容器中水平居中 */
    max-width: 750px;
    margin-top: 0px ;
    
}