.header {
    color: wheat;
    font-size: large;
    
    display: flex; /* 使用 flex 布局 */
    justify-content: center; /* 两侧的元素分布在头部两端 */
    width: 100%; /* 宽度设置为100% */
    position: fixed; /* 固定在顶部 */
    top: 0; /* 置顶 */
    left: 0; /* 置左 */
    background-color: #001331d3; /* 背景颜色，根据需要调整 */
    border: none;
    z-index: 500; /* 确保 header 在最上层 */
}

.navbar{
    width: 100%;
    max-width: 1200px;
    display: flex; /* 使用 flex 布局 */
    justify-content: space-between; /* 两侧的元素分布在头部两端 */
    align-items: center; /* 垂直居中对齐 */
}

.left-section {
    display: flex;
    align-items:end; /* 垂直居中对齐 */
    margin: 5px 10px 5px 5px;
    border: none;
}

.right-section {
    font-weight:400;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-right: 20px;
  }
  
.menu-links li a {
    text-decoration: none;
    transition: 0.2s ease;
  }
.language-item a {
    display: flex;
    gap: 8px;
    align-items: center;
  }
.right-section #hamburger-btn {
    cursor: pointer;
    display: none;
    font-size: 1.7rem;
    margin-right: 20px;
  }
.right-section #close-menu-btn {
    position: absolute;
    display: none;
    color: wheat;
    font-weight: bold;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.7rem;
  }
.menu-links a {
    color: inherit;        /* 链接颜色与周围文本颜色相同 */
    text-decoration: none; /* 去除下划线 */
    background-color: transparent; /* 初始背景色透明 */
    transition: color 0.2s; /* 背景色变化过渡时间 */
  }
.menu-links a:hover {
    color: white;
  }
.material-symbols-outlined {
    transition: transform 0.3s ease; /* Adjust the duration as needed */
}

.logo-pic {
    /* 根据需要调整图片大小 */
    height: 40px;
    width: auto;
}

.gradient-text {
    font-size: 25px; /* 设置字体大小 */
    font-style: italic;
    font-weight: bold;
    background: -webkit-linear-gradient(left, rgb(228, 27, 27), rgb(34, 136, 143)); /* 创建从左到右的红到蓝的渐变 */
    -webkit-background-clip: text; /* 应用背景到文字 */
    color: transparent; /* 设置文字颜色为透明 */
    background-clip: text; /* 标准语法 */
    padding-right: 3px;
}
.right-section ul li{
    position: relative;
    padding: 15px 0px;
    cursor: pointer;
}
.right-section ul li ul {
    position: absolute;
    left: 0;
    top: 20px;
    width: 200px;
    margin-top: 25px;
    display:none ;

}
.right-section ul li ul li {
    width: 100%;
    border-top: 1px solid rgb(148, 146, 146);
    list-style-type: none;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #001331d3;
    
}
.material-symbols-outlined {
    font-size: 18px; /* Adjust the size as needed */
}

.right-section ul li:focus-within > ul,
.right-section ul li:hover > ul {
    display: initial;
}
@media screen and (max-width: 650px) {
    .header.show-mobile-menu::before {
      content: "";
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      backdrop-filter: blur(5px);
    }
  
    .navbar .menu-links {
      height: 100vh;
      max-width: 300px;
      width: 100%;
      background: #001331ab;
      position: fixed;
      left: -300px;
      top: 0;
      display: block;
      padding: 75px 40px 0;
      transition: left 0.2s ease;
    }
  
    .header.show-mobile-menu .navbar .menu-links {
      left: 0;
    }
  
    .navbar .menu-links li {
      margin-bottom: 30px;
    }
    .navbar .menu-links li ul{
        position: relative;
        width: 100%;
      }
      .navbar .menu-links li ul li{
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 20px;
      }
    .navbar .menu-links li a {
        color: wheat;
      font-size: 1.1rem;
    }
    .navbar .menu-links a:hover {
      color: white;
      background: none;
    }
    .navbar :is(#close-menu-btn, #hamburger-btn) {
        display: block;
      }
    .product-pic{
        margin-top: 0px;
    }
    .specs-sheet{
        font-size: 20px;
    }
    .subtitle-name{
        font-size: 16px;
    }
}